/************************************************************/
/*        stylesheet for jujutsu kaisen site                */
/*        author: Miguel Ángel Bonilla                      */
/*        version: 2.0                                      */
/*        commit: project for Lenguaje de Marcas 1º DAM     */
/************************************************************/

/**************************FONTS**************************/
@font-face {
  font-family:titulos;
  src: url(../fonts/Jujutsu\ Kaisen.ttf);
}

@font-face {
  font-family:texto;
  src: url(../fonts/Exo-Regular.otf);
}
/*********************************************************/
body {
  background-image: url("../img/pattern.jpg");
  text-align: justify;
  margin: 0; padding: 0;
  color: #cec7f4;
  } 
h1 {
  font-family: titulos;
  text-align: center;
  text-shadow: 4px 4px 4px #cec7f4;}
h2 {
  font-family: titulos;
  text-align: center;
}
#wrapper {
  background-color: #110c27;
  width: 80%;           
  margin:auto;          
  }
/**********************NAV BAR***********************/
#hamburger {
  font-size:2em;
  cursor:pointer;
  position: fixed;
  top:10px;
  left:10px;
  background-color:rgba(3, 3, 3, 0.456);
  padding:3px;
}
/* The side navigation menu */
.sidenav {
  font-family: texto;
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #060619; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #cec7f4;
  display: block;
  transition: 0.3s;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  background-color: #000007;
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/*********************************************************/

/*******************************HERO SECTION********************************/
#hero {
  background-image: url(../img/wallpaper.jpg);
  background-size: cover;
  height: 95vh;
  width: auto;
  background-position: center;
}
#hero button {
  position: absolute;
  left:50%;
  top:90vh;
  transform: translate(-50%,-50%);
  border:solid 2px #cec7f4;
  font-weight:bold;
  font-family: titulos;
  font-size: 1.5em;
  padding: 10px 40px;
  border-radius: 8px;
  color: #cec7f4;
  background-color: #000007;
}
#hero button:hover {
  background-color: #110c27;
  cursor: pointer;
}
/*********************************************************/

/********************************INTRO SECTION******************************/
.grid-2 {
  display:grid;
  grid-template-columns: auto;/*Mobile first*/
  padding:7px;
  text-align: justify;
  font-family: texto;
}
.grid-2 div {
  font-size: 1em;
  background-image: linear-gradient(300deg, #131628 0, #060619 50%, #000003 100%);
}
.grid-2 ul, ol {
  margin-left: 2%;
  margin-right: 2%;
}
.col-2 {
  padding: 5%;
  border-radius: 8px;
}
#Intro img {
  width: 100%;
}
/*********************************************************/

/***************************ARCS SECTION*********************************/
.grid-4 {
  display:grid;
  grid-template-columns: auto;/*Mobile first*/
  gap: 10px;
  padding:7px;
  text-align: justify;
  font-family: texto;
}
.grid-4 h3 {
  text-align: center;
}
.col-4 {
  padding: 5%;
  border-radius: 8px;
  background-image: linear-gradient(300deg, #131628 0, #060619 50%, #000003 100%);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
#Arcs img {
  width: 100%;
}
/*********************************************************/

/***************************MANGA SECTION*********************************/
#Manga {
  padding:7px 7px 14px 7px;
}
.flex {
  border-radius: 8px;
  background-image: linear-gradient(300deg, #131628 0, #060619 50%, #000003 100%);
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 7px;
  padding:50px 7px 50px 7px;
  text-align: justify;
  font-family: texto;
}
.flex p{
  color: white;
}
.flex img {
  width: 250px;
  height: 350px;
  transform: scale(1.0);
  transition: transform 0.4s ease;
}
.col-6 {
  box-sizing: content-box;
  height: 350px;
  width: 250px;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  border: 5px solid black;
  border-radius: 10px 10px 10px 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.caption {
  position: absolute;
  bottom: 5px;
  left: 20px;
  opacity: 0.0;
  transition: transform 0.5s ease, opacity 0.7s ease;
}  
.transparent-box {
  height: 350px;
  width: 250px;
  background-color:rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
}
.col-6:hover img { 
  transform: scale(1.1);
}
.col-6:hover .transparent-box {
  background-color:rgba(0, 0, 0, 0.5);
}
.col-6:hover .caption {
  transform: translateY(-20px);
  opacity: 2.0;
}
.col-6:hover {
  cursor: pointer;
}
.caption > p:nth-child(2) {
  font-size: 0.8em;
}
/*********************************************************/

/***************************ANIME SECTION*********************************/
#Anime p{
  background-color: #060619;
  padding: 5%;
}
/*********************************************************/

/***************************CHARACTERS SECTION*********************************/
:root {
  --col-4-2-height: 275px;
  --col-4-2-width: calc(var(--col-4-2-height) / 1.5);
}
#Characters{
  padding:7px 7px 7px 7px;
}
.flex2{
  border-radius: 8px;
  background-image: linear-gradient(300deg, #131628 0, #060619 50%, #000003 100%);
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  display:flex;
  flex-wrap: wrap;
  padding:50px 7px 50px 7px;
  gap:25px;
}
.col-4-2 {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border: 5px black solid;
  width: var(--col-4-2-width);
  height: var(--col-4-2-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  perspective: 2500px;
}
.col-4-2 p{
  color:white;
  font-family: texto;
  text-align: center;
  bottom: 0;
}
.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.col-4-2:hover .card {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}
.card::before,
.card::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.card::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.card::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.col-4-2:hover .card::before,
.card::after {
  opacity: 1;
}
.col-4-2:hover .card::after {
  height: 120px;
}
.title {
  width: 100%;
  transition: transform 0.5s;
}
.col-4-2:hover .title {
  transform: translate3d(0%, -30%, 100px);
}
.character {
  height:275px;
  width: auto;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}
.col-4-2:hover .character {
  opacity: 1;
  transform: translate3d(0%, -10%, 100px);
}

/*********************************************************/

/**************************************FOOTER*******************************/
.grid-3 {
  display:grid;
  grid-template-columns: auto;
  text-align: justify;
  font-family: texto;
}
.grid-3 div {
  font-size: 1.075em;
}
.grid-3 .col-3 ul {
  list-style: none;
  display:block;
  margin:auto;
  width:50%;
}
.col-3  {
  text-align:center;
  padding-bottom:20px;
  font-size:1.1em;
}
#Social li {
  text-align: justify;
  font-size: 0.7em;
}
footer {
  background-color: #000007;
  display: flex; 
  flex-direction: column;
  padding: 1%;
}
footer img {
  width: 180px;
  display: flex;
  margin: auto;
}
footer a {
  font-family: texto;
  text-align: center;
  color: #cec7f4; 
}
.fa {
  font-size:1.5em !important;
  margin:0 10px;
  border-radius:50%;
  padding:5px;
}
.fa-twitter {
  color:#55ACEE;
}
footer button {
  border:solid 2px #cec7f4;
  font-family: texto;
  font-size: 1.1em;
  border-radius: 8px;
  color: #cec7f4;
  background-color: #000007;
}
footer button:hover{
  background-color: #110c27;
  cursor: pointer; 
}
/*********************************************************/

/***************** MODAL EN FOOTER ***********************/
 /* The Modal (background) */
  .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 10%;
  top: 0;
  width: 80%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}
/* Modal Content/Box */
.modal-content {
  background-color: #110c27;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #cec7f4;
  width: 80%; /* Could be more or less, depending on screen size */
  color:#cec7f4;
}
/* The Close Button */
.close {
  color: #cec7f4;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
/*********************************************************/

/****************************RESPONSIVE***********************************/
@media only screen and (width<900px) {
  #wrapper { 
    width: 90%; 
  }
  .inf {
    font-size: 1em;
  }
  nav a{
    font-size: 1.2em;
  }
  #hero{
    height: 65vh;
  }
  #hero button{
    top:62vh;
    font-size: 1em;
    padding: 5px 20px;
  }
}
@media only screen and (width < 600px) { /*corte para un móvil*/
  #wrapper { 
    width: 98%; 
  }
  nav a{
    font-size: 1em;
  }
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
/*********************************************************/

/****************************RESPONSIVE FOR GRID MOBILE FIRST***********************************/
@media only screen and (width>650px){
  .grid-4{
        display:grid;
        grid-template-columns: auto auto;
  }
}
@media only screen and (width>900px){
  #wrapper{
    width: 80%;
  }
  .grid-2{
    grid-template-columns: auto auto;/*Mobile first*/
  }
  .grid-3 {
    grid-template-columns: auto auto auto;
  }
  .grid-4{
      grid-template-columns: auto auto auto auto;
  }
  
}
/*********************************************************/